<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form name="form1" method="post" action="/updateblog">
  <label for="title">标题</label>
  <input type="text" name="title" id="title" th:value="${blog?.title}" autofocus="autofocus"> <br />
  <label for="blogcontent">内容</label>
  <textarea name="blogcontent" id="blogcontent" th:inline="text" required>[[${blog?.blogcontent}]]</textarea><br />
  <input type="submit" value="更新">
  <input style="display:none" name="id" th:value="${blog?.id}">
</form>
</body>
</html>